.maid/cache
.maid/temp
maidfile.toml

logs
*.log
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules
out
dist
build
*.local
.eslintcache

src.local
.env
.env*
.idea
*.suo
*.sln
*.dev-local
*.sw?
.wrangler
*.tsbuildinfo
next-env.d.ts